@using Microsoft.AspNetCore.Identity
@using System.Web
@using Microsoft.AspNetCore.Mvc.Localization

@model BlueRecandy.Models.Product
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer T

@{
    ViewData["Title"] = @Model.Name;
}

<div class="container mt-4 pt-4">
    @{
        var paymentSuccess = ViewBag.PaymentSuccess;
        if (paymentSuccess != null)
        {
            <div class="container-fluid bg-danger bg-opacity-25 p-2 mb-4">
            @{
                if (paymentSuccess)
                {
                    <p class="text-center text-success">@T["Product"] @Model.Name has been purchased!</p>
                }
                else
                {
                    <p class="text-center text-danger">@T["Product"] @Model.Name failed to purchase!</p>
                }
            }
            </div>
        }
    }
    <div class="row">
        <div class="col-9">
            <h5>@Model.Name</h5>
            <p>by @Model.Owner.UserName</p>
            <p>Downloads: @Model.PurchaseLogs.Count()</p>
        </div>
        <div class="col-3">
            @{
                bool isSignedIn = SignInManager.IsSignedIn(User);
                bool useExternalURL = Model.UseExternalURL;

                var user = await UserManager.GetUserAsync(User);
                bool isOwner = isSignedIn && Model.OwnerId == user.Id;
                bool isPurchased = isOwner || (isSignedIn && Model.PurchaseLogs.Find(x => x.UserId == user.Id) != null);
                bool isAlreadyGiveFeedback = isSignedIn && Model.ProductFeedbacks.Find(x => x.UserId == user.Id) != null;

                if (isOwner || isPurchased)
                {
                    if (!useExternalURL)
                    {
                        <a asp-action="Download" asp-route-id="@Model.Id" class="btn btn-success">@T["Download"]</a>
                    }
                    else
                    {
                        <a href="@Model.DownloadURL" target="_space" class="btn btn-success">@T["Download"]</a>
                    }

                    if (!isOwner)
                    {
                        
                        if (isAlreadyGiveFeedback)
                        {
                            <a asp-controller="Feedbacks" asp-action="Edit" asp-route-id="@Model.ProductFeedbacks.Find(x => x.UserId == user.Id).Id" class="btn btn-primary">@T["Give Feedback"]</a>
                        }
                        else
                        {
                            <a asp-controller="Feedbacks" asp-action="Create" asp-route-productid="@Model.Id" class="btn btn-primary">@T["Give Feedback"]</a>
                        }
                    }
                }
                else
                {
                    <a asp-controller="User" asp-action="Purchase" asp-route-id="@Model.Id" class="btn btn-success">@T["Buy for"] $@Model.Price</a>
                }

            }
        </div>
        <hr />
    </div>

    <div class="mt-4 row">
        <div class="col-6">
            <p>@Model.Description</p>
        </div>
        <div class="col-3"></div>
        <div class="col-3 border-start">
            <h6>Feedbacks</h6>
            @{
                foreach (var item in Model.ProductFeedbacks)
                {
                    <div class="card my-3">
                        <div class="card-header">
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    @{
                                        var reviewer = await UserManager.FindByIdAsync(item.UserId);
                                    }
                                    @reviewer.UserName
                                </div>
                                <div>
                                    @item.Rating / 5
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>@item.FeedbackContent</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>