@using Microsoft.AspNetCore.Identity
@using System.Web

@model BlueRecandy.Models.Product
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = @Model.Name;
}

<div class="container mt-4 pt-4">
    @{
        var paymentSuccess = ViewBag.PaymentSuccess;
        if (paymentSuccess != null)
        {
            <div class="container-fluid bg-danger bg-opacity-25 p-2 mb-4">
            @{
                if (paymentSuccess)
                {
                    <p class="text-center text-success">Product @Model.Name has been purchased!</p>
                }
                else
                {
                    <p class="text-center text-danger">Product @Model.Name failed to purchase!</p>
                }
            }
            </div>
        }
    }
    <div class="row">
        <div class="col-9 border-bottom">
            <h5>@Model.Name</h5>
            <p>by @Model.Owner.UserName</p>
        </div>
        <div class="col-3">
            @{
                var user = await UserManager.GetUserAsync(User);

                bool isSignedIn = SignInManager.IsSignedIn(User);
                if (!isSignedIn)
                {
                    <a asp-controller="User" asp-action="Purchase" asp-route-id="@Model.Id" class="btn btn-success">Buy for $@Model.Price</a>
                }
                else
                {
                    bool isOwner = Model.OwnerId == user.Id;
                    if (isOwner)
                    {
                        <a href="@Model.DownloadURL" target="_space" class="btn btn-success">Download</a>
                    }
                    else
                    {
                        var purchaseLogs = Model.PurchaseLogs;
                        var log = purchaseLogs.Find(x => x.UserId == user.Id);

                        if (log == null)
                        {
                            <a asp-controller="User" asp-action="Purchase" asp-route-id="@Model.Id" class="btn btn-success">Buy for $@Model.Price</a>
                        }
                        else
                        {
                            <a href="@Model.DownloadURL" target="_space" class="btn btn-success">Download</a>
                        }
                    }
                    <a asp-controller="Feedbacks" asp-action="Create" asp-route-productid="@Model.Id" class="btn btn-primary">Give Feedback</a>
                }
            }
        </div>
    </div>

    <div class="mt-4">
        <p>
            @Model.Description
        </p>
    </div>
</div>